%h1 Edit vacation

= form_for :vacation, url: vacation_path(@vacation), method: :patch do |f|
  - if @vacation.errors.any?
    .alert.alert-danger
      %h4
        = pluralize(@vacation.errors.count, "error")
        prohibited this article from being saved:
      %ul
        - @vacation.errors.full_messages.each do |msg|
          %li
            = msg
  .form-horizontal
    .form-group
      .col-sm-2
        .control-label
          = f.label :vacation_type, "Type"
      .col-sm-3
        = f.collection_select :vacation_type, Vacation::VACATION_TYPES, :to_s, :humanize, prompt: true, class: "form-control"
    %br
    .form-group
      .col-sm-2
        .control-label
          = f.label :start_date
      .col-sm-3
        = f.text_field :start_date, class: "form-control"
    %br
    .form-group
      .col-sm-2
        .control-label
          = f.label :end_date
      .col-sm-3
        = f.text_field :end_date, class: "form-control"
    %br
    .form-group
      .col-sm-offset-2.col-sm-3
        = f.submit "Save", class: "btn btn-primary"
%p
  