%h1 Your vacations
- if @vacations
  %table.table
    %thead
      %tr
        %th Applicant
        %th Type
        %th Starts
        %th Ends
        %th Status
        %th Controls
    %tbody
      - @vacations.each do |vacation|
        %tr
          %td
            - if vacation.employee.first_name && vacation.employee.last_name
              = vacation.employee.first_name
              = vacation.employee.last_name
            - else
              = vacation.employee.username
          %td
            = vacation.vacation_type.humanize
          %td
            = I18n.l(vacation.start_date)
          %td
            = I18n.l(vacation.end_date)
          %td
            = vacation.vacation_status.humanize
          %td
            .btn-group.btn-group-xs
              = link_to "View", vacation_path(vacation), class: "btn btn-primary"
              = link_to "Edit", edit_vacation_path(vacation), class: "btn btn-info"
              = link_to "Remove", vacation_path(vacation), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
- if @vacations.empty?
  .text-center
    %h4 You do not have any vacations on record.