%h1 
  = @vacation.applicant.first_name
  = "#{@vacation.applicant.last_name}'s"
  = "(#{@vacation.applicant.username})"
  Vacation
%br
%strong.col-sm-2 Applicant:
.col-sm-5
  = @vacation.applicant.first_name
  = @vacation.applicant.last_name
  (
  = @vacation.applicant.username
  )
%br
%br
- if @vacation.applicant.manager && @vacation.applicant.manager.id != @vacation.applicant.id
  %strong.col-sm-2 Direct Manager:
  .col-sm-5
    = @vacation.applicant.manager.first_name
    = @vacation.applicant.manager.last_name
  %br
  %br
%strong.col-sm-2 Type:
.col-sm-5
  = @vacation.vacation_type.humanize
%br
%br
%strong.col-sm-2 Starts:
.col-sm-5
  = @vacation.start_date.strftime('%d %B %Y')
%br
%br
%strong.col-sm-2 Ends:
.col-sm-5
  = @vacation.end_date.strftime('%d %B %Y')
%br
%br
%strong.col-sm-2 Duration:
.col-sm-5
  = distance_of_time_in_words(@vacation.start_date, @vacation.end_date)
%br
%br
%strong.col-sm-2 Status:
.col-sm-5
  = @vacation.vacation_status.humanize
- if @vacation.vacation_status == "pending" && @vacation.applicant.manager == current_employee
  %br
  %br
  .col-sm-2.pull-right
    = link_to "Approve", approve_vacation_path(@vacation), class: "btn btn-success"
    = link_to "Reject", reject_vacation_path(@vacation), class: "btn btn-danger"
/   %strong Controls
/   = link_to "Edit", edit_vacation_path(@vacation)
/   = link_to "Remove", vacation_path(@vacation), method: :delete, data: { confirm: 'Are you sure?' }